h1, p{
    font-family: regularlibrebaskerville;
    color: white;
    text-align: center;
}
body{
    background-color: black;
}
div>img{
    border: 5px solid white;
    width: 100%;
   
}
div{
   width: 50%;
   margin-left: 25%;
   text-align: center;
}